html {
    scroll-behavior: smooth;
}
body {
    background-color: #151515;
}
.Header .navbar {
    background-color: #202020;
    color: white;
    border-bottom: 1px solid #F44B19;
}
.MainMenu {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: white;
}
.MainMenu img {
    margin: 10px;
}
.MainMenu .searching {
    display: none;
}
.MainMenu .form {
    display: block;
}
.MainMenu input, .MainMenu .btn {
    padding: 10px;
    width: 100%;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 4px;
    border: 0;
}
.MainMenu .rules {
    text-align: left;
    margin-top: 50px;
    font-size: large;
}
.MainMenu .rules strong {
    color: rgb(177, 57, 20);
}
.MainMenu .player-count {
    text-align: left;
}
.btn {
    color: white;
    background-color: #F44B19;
}
.btn:hover {
    background-color: rgb(207, 61, 17);
}
.GameRoom {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: white;
}
.GameRoom .matchDetails {
    margin-top: 200px;
}
.GameRoom .gameScreen {
    text-align: left;
    margin-top: 80px;
}
.GameRoom .gameScreen .playground {
    text-align: center;
    padding: 50px 0;
    height: 40%;
}
.GameRoom .gameScreen .playground img {
    width: 75px;
}
.GameRoom .gameScreen .playground .opponentMove {
    transform: rotate(180deg) scaleX(-1);
}
.GameRoom .gameScreen .row {
    max-width: 400px;
    display: block;
    margin: auto;
    text-align: center;
}
.GameRoom .gameScreen .row .col-xs {
    display: inline-block;
    padding: 20px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 6px;
    margin: 8px;
}
.GameRoom .gameScreen .opponent-score {
    border-bottom: 1px solid rgb(78, 78, 78);
    padding: 20px 0;
    height: 30%;
}
.GameRoom .gameScreen .my-score {
    border-top: 1px solid rgb(78, 78, 78);
    padding: 20px 0;
    height: 30%;
}
.GameRoom .gameScreen .winner-box {
    border-width: 2px;
    border-color: greenyellow;
}
.GameRoom .gameScreen .opponent-score .row .col-xs {
    opacity: 0.5;
}
.GameRoom .gameScreen .my-score .row .col-xs:hover {
    background-color: #202020;
    cursor: pointer;
}
.GameRoom .gameScreen .row .col-xs img {
    width: 50px;
}
